<ul class="nav nav-pills nav-stacked">
    {% for meal in mealList %}
        <li>
            <a href="{{ path('hlt_manageur_view_meal', {'id': meal.id}) }}">
                {{ meal.name }}
            </a>
        </li>
    {% endfor %}
    <hr>
    {% for product in productList %}
        <li>
            <a href="{{ path('hlt_manageur_view_product', {'id': product.id}) }}">
                {{ product.name }}
            </a>
        </li>
    {% endfor %}

</ul>