{% extends 'base.html.twig' %}

{% block body %}
    <h1>This is the Advert Page and it's link is {{ url }}</h1>
    <a href="{{ path('als_plateform_home') }}">Lien vers la page AD </a>
{% endblock %}